* {
  font-family: "Roboto Slab", serif;
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 100vh;
}
body {
  margin: 0;
}
.app-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: grey;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
nav {
  height: 80px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #0050b9;
}
nav .search input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: medium;
}
nav .searchBtn {
  height: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: medium;
}
#app-items {
  margin: auto;
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
#app-items .itemCard {
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}
#app-items .itemImg {
  width: 100%;
  max-width: 235px;
  max-height: 235px;
}
#app-items .itemName {
  height: 38px;
}
div#app-items div.itemCard span.quantityContainer {
  text-align: center;
}
#app-item {
  max-width: 1000px;
  margin: 0 auto;
}
#app-item .itemCard {
  /* background-color: rgb(209, 209, 209); */
  border-radius: 15px;
  padding-bottom: 2rem;
}
.image__Container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
#app-item .image__Container .itemImg {
  width: 80%;
  max-width: 800px;
}
#app-item .info-container {
  width: 50%;
  margin: 0 auto;
  max-width: 800px;
}
.arrowRight {
  background-image: url("/assets/icons/arrow-right1.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 55px;
  height: 65px;
  cursor: pointer;
}
.arrowLeft {
  background-image: url("/assets/icons/arrow-left1.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 55px;
  height: 65px;
  cursor: pointer;
}
span.quantityContainer button {
  border: none;
  background-color: rgb(109, 109, 109);
  width: 24px;
  color: white;
  border-radius: 0;
  transition: 0.2s ease-in-out;
}
span.quantityContainer button:active {
  background-color: #0050b9;
}
#app-items span.quantityContainer .selectdec {
  border-radius: 10px 0 0 10px;
}

#app-items span.quantityContainer .selectinc {
  border-radius: 0 10px 10px 0;
}
.description {
  background: #fff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
  font-weight: 600;
}
.descriptionShow {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}
.descriptionBtn {
  color: white;
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.active--button {
  background-color: #0050b9;
}
.selectQuantity {
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
}
.toCartButton {
  float: right;
  margin-right: 0;
  color: white;
  background-color: rgb(95, 95, 95);
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.toCartButton:hover {
  background-color: white;
  color: rgb(53, 53, 53);
}
.toCartButton:active {
  transition: none;
  color: #0050b9;
  font-weight: bold;
}
.info-container {
  display: flex;
  flex-direction: column;
}
.toCart__Container {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}
.cart {
  z-index: 1;
  display: none;
  position: fixed;
  right: 0;
  top: 80px;
  background-color: rgb(196, 196, 196);
  border-radius: 0 0 5px 5px;
  border-left: 2px grey solid;
  border-bottom: 2px grey solid;
  max-height: 800px;
  overflow-y: scroll;
}
.cartItem {
  height: 120px;
  display: flex;
  padding: 10px;
  border-bottom: 2px grey solid;
}
.cartItem .cartitemPrice {
  margin: auto 0;
}
.cartItem .quantityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartItem .quantityContainer input {
  border: none;
}
.cartItem .quantityContainer button {
  background-color: rgb(109, 109, 109);
  width: 28px;
  color: white;
}
.cartItem .selectQuantity {
  width: 24px;
  height: 20px;
}
.cartItem .removeBtn {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  width: 40px;
}
.cartItem .removeBtn:hover {
  color: #0050b9;
}
.cartItemImg {
  height: 120px;
  object-fit: contain;
}
.cartitemName {
  width: 140px;
  word-wrap: normal;
  margin-left: 0.8rem;
}
.cartItem .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartIcon i {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
.cartContainer .totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
#app-cart {
  max-width: 1000px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 40px;
}
#checkout-app {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.checkoutInfo__Container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.checkoutInfo__Quantity {
  width: 80px;
}
.checkoutInfo__Price {
  margin-right: 0;
  margin-left: auto;
}
.checkoutInfo__Container:nth-child(2) {
  width: 80px;
}
.checkoutInfo__Container:nth-child(3) {
  width: 80px;
}
.Container {
  width: 50%;
}
.checkoutContainer {
  height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}
.Quantity {
  display: flex;
  width: 80px;
}
.Container .totalPrice {
  margin-top: 20px;
}
.checkoutItem {
  display: flex;
  margin-right: 5px;
  align-items: center;
  overflow-wrap: normal;
}
.checkoutItem:nth-last-child() {
  border-bottom: 1px darkgrey solid;
}
.checkoutitemName {
  margin: 0;
}
.checkoutitemPrice {
  margin-left: auto;
  margin-right: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.is-active {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  #app-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  #app-items {
    grid-template-columns: 1fr 1fr;
  }
}
